.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
pnpm-lock.yaml
!gui-sidebar/dist
gui-sidebar/**
semantic/**
coverage/**
extension-manual-tests/

# ignore arm64 build for temporary
dist/bin/napi-v3/linux/arm64
dist/bin/napi-v3/win32/arm64
dist/bin/napi-v3/linux/x64/libonnxruntime_providers_cuda.so

dist/build/linux-arm64
dist/build/win32-arm64
#dist/build/node_sqlite3.node

dist/node_modules/@lancedb/vectordb-linux-arm64-gnu

# node_modules/sqlite3/node_modules
# !node_modules/sqlite3
# !node_modules/bindings
# !node_modules/file-uri-to-path
# !node_modules/web-tree-sitter

# switch models for release
!models/
dist/models

vite.config.d.mts
vite.config.mjs
vite.config.mts
CHANGELOG.md
bin
tsconfig.node.json
pre-download-build.js
docs
bin/**/build.tar.gz
