Write documentation for user's given ${context.language} code.
#if($context.chatContext.length > 0 )
${context.chatContext}
#end
#if($context.forbiddenRules.length > 0)
${context.forbiddenRules}
#end
- Start your documentation with ${context.startSymbol} here, and ends with `${context.endSymbol}`.
Here is User's code:
```${context.language}
${context.code}

Please write documentation for this code inside the Markdown code block.
#foreach($item in ${context.FrameworkCodeFragments})
 自定义代码段说明：$item.doc
 自定义代码的上下文:$items.context
 自定义代码的代码实例：$items.code
#end
