
#if($context.chatContext.length > 0 )
${context.chatContext}
#end
#if($context.forbiddenRules.length > 0)
${context.forbiddenRules}
#end

${context.customFrameworkCodeFileContext}
Refer to the relevant ${context.language} code and documentation above, as well as the comments above the method,
Complete the following additional code:
${context.code}
