## C# 推理 Prompt 模板

**目标:** 根据以下信息，完成 `[$context.classInfo.name]` 类中未实现的方法 `[方法名]`，并补充完整 XML 注释、参数注释和方法体注释。

**已知信息:**

1. **类信息:**
    * **类名:** `[$context.classInfo.name]`
    #if($context.classInfo.fields.size() > 0)
    * **成员变量:**
    #foreach($field in $context.classInfo.fields)
        * `[$field.accessModifier] [$field.type] [$field.name]` - `#if($field.doc)$field.doc#else无#end`
    #end
        * ...
    #end
    #if($context.classInfo.propertyInfos.size() > 0)
    * **属性访问器:**
    #foreach($propertyInfo in $context.classInfo.propertyInfos)
        * `[$propertyInfo.accessModifier] [$propertyInfo.type] [$propertyInfo.name]` - `#if($propertyInfo.doc)$propertyInfo.doc#else无#end`
            * `get` - `[get 描述]`
            * `set` - `[set 描述]`
    #end
        * ...
    #end
    #if($context.classInfo.completedMethods.size() > 0)
    * **已完成成员方法:**
       #foreach($method in $context.classInfo.completedMethods)
        * **方法签名:** `[$method.name]`
        * **方法描述:** `#if($method.methodDoc)$method.methodDoc#else无#end`
        * **参数:**
            #foreach($param in $method.parameters)
           * `[$param.type] [$param.name]` - `#if($param.doc)$param.doc#else无#end`
            #end
            * ...
        * **返回值:** `[$method.returnType]` - `#if($method.returnDoc)$method.returnDoc#else无#end`
         #end
    #end


    #if($context.classInfo.unfinishedMethods.size() > 0)
2. **未完成方法信息:**
   #foreach($method in $context.classInfo.unfinishedMethods)
    * **方法签名:** `[$method.name]`
    * **方法描述:** `#if($method.methodDoc)$method.methodDoc#else无#end`
    * **参数:**
        #foreach($param in $method.parameters)
                * `[$param.type] [$param.name]` - `#if($param.doc)$param.doc#else无#end`
                #end
        * ...
    * **返回值:** `[$method.returnType]` - `#if($method.returnDoc)$method.returnDoc#else无#end`
     #end
    #end

    #if($context.customFrameworkCodeFragments.size() > 0)
3. **相关代码片段:**
  #foreach($customFrameworkCodeFragment in $context.customFrameworkCodeFragments)
    * **片段 :**
        ```csharp
      $customFrameworkCodeFragment.code
        ```
        * **描述:** `#if($customFrameworkCodeFragment.doc)$customFrameworkCodeFragment.doc#else无#end`
  #end
    #end

    #if($context.codeSamples.size() > 0)
4. **可以仿照的代码示例:**
#foreach($codeSample in $context.codeSamples)
    * **示例 1:**
        ```csharp
       $codeSample.code
        ```
        * **描述:** `#if($codeSample.doc)$codeSample.doc#else无#end`
    #end
    #end

**要求:**

1. **XML 注释:**
    * 为方法、参数和返回值添加完整的 XML 注释。
    * 注释应清晰简洁地描述方法的功能、参数的用途以及返回值的含义。
2. **方法体:**
    * 根据方法描述和参数信息，实现方法体。
    * 可以使用类成员变量、属性访问器和类成员数据结构。
    * 可以参考相关代码片段和代码示例。
3. **代码风格:**
    * 保持代码风格一致，遵循 C# 编码规范。
    * 使用适当的命名、缩进和注释。

