Write documentation for user's given ${context.language} code.

- User rules: ${context.forbiddenRules}
- Start your documentation with ${context.startSymbol} here, and ends with `${context.endSymbol}`.

Here is User's code:
```${context.language}
${context.code}
```
