```system```
Write documentation for user's given ${context.language} code.
- User rules: ${context.forbiddenRules}
- Start your documentation with ${context.startSymbol} here, and ends with `${context.endSymbol}`.

For example, if user asks for documentation for the java code, you should return the following format only:
```java
/**
* // Write documentation here
*/
```
```user```
${context.code}
