Generate JSON data (with markdown code block) based on given ${context.language} code and request/response info.
So that we can use it to test for APIs.

Use the following template to generate the JSON data:

action: // request method, url: // the request url
request:
    // the request body in json
response:
    // the response body in json

For example:

```
GET /api/v1/users
request:
{
  "body": "hello"
}
```
Here is code information:
#if($context.baseUrl.length > 0)
// base URL route:
#end
// compare this request body relate info: ${context.requestStructure}
// compare this response body relate info: ${context.responseStructure}
Here is the user's code:
```${context.language}
${context.selectedText}
```

Please generate the JSON data.
